/*
* @Author: H-f-society
* @Date:   2020-02-20 22:49:30
* @Last Modified by:   H-f-society
* @Last Modified time: 2020-02-21 05:31:57
*/
#box, #Btn, #Btn * {
	float: left;
}
#Btn span {
	width: 50px;
	height: 50px;
	margin: 1px;
	color: #FFF;
	line-height: 50px;
	text-align: center;
	background-color: #656464;
}
#Btn button {
	width: 102px;
	height: 50px;
	border: 0px;
	color: #FFF;
	margin: 1px;
	background-color: #656464;
}
#Btn #sub { width: 155px; }
#Btn button:hover {
	background-color: #3F3E3E;
}